<div class='jumbotron center'>
  <h1>Keto Kitchen</h1>
  <h2>Recipes for your Keto Life</h2>
  <p><%= link_to "Sign up today", signup_path, class: "btn btn-danger btn-lg" %></p>
</div>

<div class="row">
  <div class="col-lg-4">
    <h3>4 Easy Ways to Make Eggs a Meal</h3>
    <p>Eggs on Parade - So many ways to make an excellent meal with eggs</p>
    <p><a class="btn btn-primary btn-xlarge" href="#" role="button">View Recipes »</a></p>

  </div>
  <div class="col-lg-4">
    <h3>How do I get my body into ketosis?</h3>
    <p><strong><a href="https://authoritynutrition.com/7-tips-to-get-into-ketosis/">Tips to get into ketosis - by Authority Nutrition</a></strong></p>
    <ul>
      <li>Minimize Your Carb Consumption</li>
      <li>Include Coconut Oil in Your Diet</li>
      <li>Ramp up Your Physical Activity</li>
      <li>Increase Your Healthy Fat Intake</li>
      <li>Try a Short Fast or a Fat Fast</li>
      <li>Maintain Adequate Protein Intake</li>
      <li>Test Ketone Levels</li>
      <li>Adjust Your Diet As Needed</li>
    </ul>
    <!--<p><a class="btn btn-primary btn-xlarge" href="#" role="button">View details »</a></p>-->
 </div>
  <div class="col-lg-4">
    <h3>What is the ketogenic diet?</h3>
    <p>A keto diet is a low carb high fat diet. </p>
    <p>Limiting your carb intake to 20–50 net grams per day lowers blood sugar and insulin levels, leading to the release of stored fatty acids that your liver converts into ketones.</p>
    <h3>What do you eat on a keto diet?</h3>
    <p><a href="https://ketodietapp.com/Blog/post/2015/01/03/Keto-Diet-Food-List-What-to-Eat-and-Avoid">Complete Keto Diet Food List: What to Eat and Avoid | The KetoDiet Blog</a></p>
    <!--<p><a class="btn btn-primary btn-xlarge" href="#" role="button">View details »</a></p>-->
  </div>
</div>
