$navbar-default-bg: #C65D57;

@import "bootstrap-sprockets";
@import "bootstrap";

.jumbotron {
  background-image: asset-url('lion-male.png');
  background-size: cover;
  height: 300px;
  color: white;
}

body {
  background-color: #fffbf8;
}

.navbar-default .navbar-nav > li > a {
  color: #fff;
}

.navbar-default .navbar-nav > li > a:hover {
  color: #ccc;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  background-color: #ea7f79;
}

.navbar-default .navbar-nav > li > a:focus {
  color: #000;
}

.jumbotron h1 {
  color: #white;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: 2px;
  font-weight: bold;
  text-shadow: -1px 0 #000000,0 1px #000000,1px 0 #000000,0 -1px #000000;
}

#logo {
  float: left;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
}

#logo:hover {
  color: #999;
  text-decoration: none;
}
.center {
  text-align: center;
}

/* footer */

footer {
  margin-top: 45px;
  padding: 5px 50px;
  border-top: 1px solid #8C1717;
  color: #777;
}

footer nav {
  color: #000;
}

footer a {
  color: #000;
}

footer a:hover {
  color: #666;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  color: #000;
  float: left;
  margin-left: 15px;
}

.description {
  margin-top: 0;
}

.well {
  font-size: 1.2em;
  padding: 0px 15px;
}

.well a {
  color: #C65D57;
}


.created_by {
  border: 1px solid #C65D57;
  padding: 1px 5px 0px 5px;
  border-radius: 20px;
  background: #DEDEDE;
}


.chef-info {
  margin-top: 10px;
}

.back-buttons {
  padding: 10px 0px 0px 15px; 
}

.listing {
  list-style: none;
  padding-left: 0px;
}

.chef-listing {
  padding: 10px 0px;
  margin: 15px;
}

.chef-buttons {
  padding-bottom: 15px;
}

.chef-title {
  font-weight: bold;
  font-size: 1.2em;
}

.recipe-actions {
  padding: 5px;
}

.new-recipe {
  margin-bottom: 10px;
}

.button-actions a {
  color: white;
}

.button-actions {
  padding-top: 10px;
}

.input_checkbox input{
  width: auto !important;
}

.badge a {
  color: white;
}

.created-by {
  margin-bottom: 10px;
}

.pagination {
  margin: 0px;
}
